p {
  font: allerta;
}
a {
  color: #888888;
}
.full {
  width: 99%;
}
.center {
  margin: 0 auto;
}
.center li {
  font-size: 1.2vw;
}
.navbar-brand {
  color:rgb(88,162,230);
  font-size:26px;
  margin-left:40px;
}
.jumbotron {
  padding: 0px;
  margin: 0px;
}
.scrollsection {
  padding-top: 50px;
}
.section-title{
  display: inline-grid;
  position: relative;
  width: 18%;
  margin-left: 8%;
  color: #363E62;
  font-size: 20px;
}

.section-content {
  display: inline-grid;
  width: 73%;
  color: #8794A6;
}
.team {
  height: 20%;
  width: 20%;
  margin: 1.1%;
  border-radius: 18px;
}
.foot-block {
  display: inline-grid;
  width: 20%;
  margin-top: 10%;
  margin-bottom: 5vmin;
  margin-right: 0%;
}
.block-title {
  font-size: 2vw;
  color: #363E62;
  font-weight: bold;
}
.block-content {
  font-size: 1vw;
  color: #8794A6;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.block-content li{
  margin-bottom: 5%
}
.bottom {
  display: inline-grid;
  margin-left: 20vw;
  color: #aaa;
  font-size: 1vw;
}
#second-nav {
  background-color: white;
}
@media screen and (max-width: 768px) {
  #second-nav {
    visibility: hidden;
  }
}
#mainquote {
  font-size: 20px;
  color: #8794A6;
  width: 65%;
  margin-top: 0;
  margin-bottom: -50px;
}
@media screen and (min-width: 1000px) {
  #mainquote {
    font-size: 30px;
  }
}
#contactus {
  background: #F1F2F8;
  background: -webkit-linear-gradient(left, #F1F2F8 , #F1FAFB);
  background: -o-linear-gradient(right, #F1F2F8, #F1FAFB);
  background: -moz-linear-gradient(right, #F1F2F8, #F1FAFB);
  background: linear-gradient(to right, #F1F2F8 , #F1FAFB);
}
#contactus .section-title {
  width: 99%;
}
#meettheteam .section-title {
  width: 99%;
}
#location {
  width: 22%;
  margin-left: 20%;
  margin-right: 12%;
}
#address {
  width: 31%;
  margin-right: 13%;
}
#left-block {
  margin-left: 11%
}
